.footer {
  background-color: #f8e6f7;
  min-height: 20vh;
  border-top: 1px solid #ee2c30;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #1e30be;
}

.logo--footer {
  height: 10vh;
}
