body {
  width: 100%;
  margin: 0px;
  margin-top: -30px;
  min-height: 100vh;
}

.intropage {
  background-image: url("/images/macarons-strossel.jpg");
  background-color: rgba(30, 48, 190, 0.5);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
}

.btn--about {
  background-color: #1e30be;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 1rem;
}

.btn--about:hover {
  background-color: #e89eae;
  cursor: pointer;
}
