.body {
  width: 100%;
}

@media (max-width: 820px) {
  .navbar {
    max-height: 7vh;
  }
  .menu-logo {
    height: 20px;
  }
  .nav__list {
    font-size: 24px;
  }
  .nav__item {
    padding-right: 0.5rem;
  }
  .card__img {
    max-width: 30vw;
    height: auto;
  }
  .panel {
    max-height: 70vh;
    margin: 5px;
  }
  .map {
    height: 30vh;
  }
  // .card--info {
  //   flex-direction: column;
  //   width: 100vw;
  // }
  // .content--info {
  //   margin-right: 3rem;
  // }
  // .content--txt {
  //   width: fit-content;
  // }
  // .img--info {
  //   max-width: 70vw;
  //   width: 100%;
  // }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    height: fit-content;
  }
  .card__txt {
    font-size: 14px;
    width: fit-content;
    margin: 0%;
    padding-right: 1rem;
    text-align: left;
  }
  .card__title {
    font-size: 20px;
    text-align: center;
  }
  .contact-info {
    font-size: 16px;
  }
  .img--info {
    max-width: 80vw;
    width: 100%;
  }
  .nav__list {
    display: none;
  }
  .dropdown {
    display: flex;
  }
  .intro--logo {
    max-width: 90vw;
  }
  .menu__btn {
    display: block;
  }
}
