.body {
  width: 100%;
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
    height: fit-content;
  }
  .card__txt {
    font-size: 14px;
    width: fit-content;
    margin: 0%;
    padding-right: 1rem;
    text-align: left;
  }
  .card__title {
    font-size: 20px;
    text-align: center;
  }
  .contact-info {
    font-size: 16px;
  }
  .img--info {
    max-width: 80vw;
    width: 100%;
  }
}
