.navbar {
  background-color: #e89eae;
  color: #ffffff;
  margin: 0;
  min-height: 10vh;
  height: 100%;
}

.nav__list {
  display: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 34px;
}

.nav__item {
  padding: 1rem;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ee2c30;
}

a:visited {
  color: #6c86e4;
}

.dropdown {
  flex-direction: column;
  background-color: #e89eae;
  width: 100%;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  min-height: 30vh;
}

.menu__btn {
  border: none;
}

.fa-bars {
  font-size: 36px;
  color: #ee2c30;
}
